body {

    Color: white;
    background: black;
    margin: 0px;
    margin-bottom: 500px;

    header {
        font-family: "Bangers", system-ui;
        border-bottom: solid 10px red;
        padding: 20px;
        font-size: 40px;
    }

}

section {
    padding: 16px;
}

p1 {
    font-size: 35px;
    color: black;
    background: white;
    padding: 10px;
    padding-left: 170px;
    padding-right: 170px;
    display: inline-flex;
    justify-content: center;
    font-family: "Bangers", serif;
    margin-bottom: 30px;
}
p2 {
    font-size: 35px;
    color: black;
    background: white;
    padding: 10px;
    padding-left: 175px;
    padding-right: 175px;
    display: inline-flex;
    justify-content: center;
    font-family: "Bangers", serif;
    margin-bottom: 30px;
}

h1 {
    font-size: 40px;
}
